<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <script src='styles.css'></script>
</head>

<body>
  <div id="container">
    <nav class="nav-extended">
      <div class="nav-wrapper deep-purple">
        <a id="projectname" class="brand-logo left"></a>
        <ul id="nav-mobile" class="right">
          <li><a href="#" onclick="openFolder();event.preventDefault();"><i
                class="material-icons right">folder_open</i>Open Folder</a></li>
          <script>
            const { ipcRenderer } = require('electron');
            function openFolder() {
              //console.log('in openfolder');
              var fullPathOfProjFile = currentWindow.project.dir.fullPath; 
              console.log('Opening ', fullPathOfProjFile, ' in system explorer');
              ipcRenderer.send('openitem', fullPathOfProjFile);
            }
          </script>
        </ul>
      </div>
      <div class="nav-content deep-purple">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a class="active" href="#tab1">Project Files</a></li>
          <li class="tab"><a href="#tab2">Data Insights</a></li>
          <li class="tab"><a href="#tab3">Project Timeline</a></li>
        </ul>
      </div>
    </nav>
    <br>

    <div id="tab1" class="container">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>First</div>
          <div class="collapsible-body">
            <div class="row">
              <div class="col s12 m12">
                <ul class="collapsible" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header">
                      <i class="material-icons">filter_drama</i>Nested First</div>
                    <div class="collapsible-body">
                      <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header">
                      <i class="material-icons">place</i>Nested Second</div>
                    <div class="collapsible-body">
                      <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header">
                      <i class="material-icons">whatshot</i>Nested Third</div>
                    <div class="collapsible-body">
                      <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">place</i>Second</div>
          <div class="collapsible-body">
            <div class="container">
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header">
                    <i class="material-icons">filter_drama</i>Nested First</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                    <i class="material-icons">place</i>Nested Second</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                    <i class="material-icons">whatshot</i>Nested Third</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">whatshot</i>Third</div>
          <div class="collapsible-body">
            <div class="container">
              <div class="row">
                <div class="col s12 m12">
                  <ul class="collapsible" data-collapsible="accordion">
                    <li>
                      <div class="collapsible-header">
                        <i class="material-icons">filter_drama</i>Nested First</div>
                      <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header">
                        <i class="material-icons">place</i>Nested Second</div>
                      <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header">
                        <i class="material-icons">whatshot</i>Nested Third</div>
                      <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>Fourth</div>
          <div class="collapsible-body">
            <div style="padding:25px">
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header">
                    <i class="material-icons">filter_drama</i>Nested First</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                    <i class="material-icons">place</i>Nested Second</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                    <i class="material-icons">whatshot</i>Nested Third</div>
                  <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div id="tab2" class="container">
      <div id="pieChartFileSizes">

      </div>
      <script>
        const fillPieChart = function () {
          var color = ['rgb(56, 75, 126)', 'rgb(18, 36, 37)', 'rgb(34, 53, 101)'];
          var data = [{
            values: [55, 26, 5],
            labels: ['Audio Files', 'Video Files', 'Project Files'],
            //colors: ['Green', 'Blue', 'Red'],
            type: 'pie',
            name: 'Files By Size',
            marker: {
              colors: color
            }
          }];


          var layout = {
            title: 'Files By Size',
            height: 400,
            width: 500
          };

          Plotly.newPlot('pieChartFileSizes', data, layout, {displaylogo: false});
          //Plotly.newPlot("")
        }
      </script>
    </div>
    <div id="tab3">
      Tab #3 in da house!
    </div>
    <script>
      // Set header text with project name  
      const electron = require('electron');
      var currentWindow = electron.remote.getCurrentWindow();
      projectname.innerText = currentWindow.project.projectName;
      //console.log('hello, project name = ', currentWindow.project.projectName);
      var el = document.querySelector('.tabs');
      var instance = M.Tabs.init(el, {});
      fillPieChart();
    </script>
  </div>
</body>

</html>